html {
  width: 100%;
  height: 100%;
}

body {
  height: 100vh;
  width: 100vw;
}

h1 {
  color: red;
}

.xxLogoContainer {
  width: 100%;
  height: 200px;
  background-image:url('../src/img/xxlogo.svg');
  background-repeat:no-repeat;
}
