html {
  width: 100%;
  height: 100%;
}

body {
  font-family: Helvetica, sans-serif;
  color: white;
  background-color: #111b2b;
  padding-left: 5vw;
  padding-right: 5vw;
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

header h1 {
  font-size: 12vw;
}

header h3 {
  font-size: 4.4vw;
  margin-top: .3em;
}

header p {
  font-size: 3.25vw;
  margin: 0px;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

main h3 {
  font-size: 4.4vw;
}

.headerInfoArea{
  width: 100%;
  text-align: right;
}

.headerLogo{
  width: 100%;
  height: 100%;
  margin-left:auto;
  margin-right:auto;
  background-image:url('/images/xxlogo.svg');
  background-repeat:no-repeat;
  background-position: left;
  background-size: contain;
}

.personalStatement{
}

main {
  margin-top: 7vh;
}

footer {
}

.resumeDescription{
  height: 100%;
  color: white;
}

.projectImages {
  color: white;
  /* height: 100%; */
}

.projectImages {
  max-width: 100%;
}

.contactInfoArea img {
  max-width: 100%;
}

@media screen and (min-width: 1200px){
  body {
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
  }
  header {
    height: 288px;
  }
  header h1 {
    font-size: 144px;
  }

  header h3 {
    font-size: 53px;
    margin-top: .3em;
  }

  header p {
    font-size: 39px;
  }
  main h3 {
    font-size: 53px;
  }

}

@media screen and (max-width: 600px){
  main h3 {
    font-size: 27px;
  }

  .projectImages  {
    max-width: 40vw;
    display: inline;
  }

  .contactInfoArea img {
    max-width: 40vw;
  }

  .projectCard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr; */
    width: 100%;
  }

  .projectCard h4 {
    height: 10vh;
    grid-column: 2 / 2;
    grid-row: 1 / 1;
  }

  .projectCard p {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
  }
}
