html {
  width: 100%;
  height: 100%;
}

body {
  font-family: Helvetica, sans-serif;
  color: white;
  margin: 0px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
}

header h1 {
  position: relative;
  font-size: 12vw;
}

header h3 {
  font-size: 4.4vw;
  margin-top: .3em;
}

header p {
  font-size: 3.25vw;
}

header {
  width: 100vw;
  background-color: #111b2b;
  padding-left: 3vw;
  padding-right:3vw;
}

.headerInfoArea{
  display: inline-block;
  width: 50vw;
  text-align: center;
}

.headerLogo{
  display: inline-block;
  width: 40vw;
  height: 22vw;
  margin: auto;
  background-image:url('../src/img/xxlogo.svg');
  background-repeat:no-repeat;
  background-position: bottom;
  background-size: contain;
}

main {
  background-color: #111b2b;
}

footer {
  background-color: pink;
}

.resumeDescription{
  background-color: red;
  height: 10vh;
  color: white;
}

.projectImages {
  background-color: lightgreen;
  color: black;
  height: 10vh;
}

.xxLogoContainer {
  margin: auto;
  width: 70vw;
  height: 100vh;
  background-image:url('../src/img/xxlogo.svg');
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
}
