html {
  width: 100%;
  height: 100%;
}

body {
  font-family: Helvetica, sans-serif;
  color: white;
  background-color: #111b2b;
  padding-left: 5vw;
  padding-right: 5vw;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

header h1 {
  font-size: 12vw;
}

header h3 {
  font-size: 4.4vw;
  margin-top: .3em;
}

header p {
  font-size: 3.25vw;
  margin: 0px;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.headerInfoArea{
  width: 100%;
  /* text-align: center; */
}

.headerLogo{
  width: 100%;
  height: 22vw;
  margin: auto;
  background-image:url('/images/xxlogo.svg');
  background-repeat:no-repeat;
  background-position: center;
  background-size: contain;
}

.personalStatement{
}

main {
}

footer {
}

.resumeDescription{
  height: 100%;
  color: white;
}

.projectImages {
  color: white;
  height: 100%;
}

@media screen and (min-width: 1200px){
  body {
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
  }
  .headerLogo{
    height: 264px;
  }
  header h1 {
    font-size: 144px;
  }

  header h3 {
    font-size: 53px;
    margin-top: .3em;
  }

  header p {
    font-size: 39px;
  }

}
